
doctype html
html(lang='en')
    include ../../components/header-files
    body.document.full-width-doc.sticky-nav-doc
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.compact-wrapper
          include ../../components/document-header
            // Page Body Start
          .body-wrapper.sticky_menu
                  section#sticky-page.document-area
                    .overlay_bg
                    .container-fluid.custom-container
                      .row.doc-container
                        .left-sidebar
                          include ../../components/document-sidebar
                        .col-lg-9.col-md-12.content
                                .row
                                  .col-md-12.change-log-main
                                    h4.main-title Change Log
                                    //p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                                    .change-log-inner-sec
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 January 21, 2021 
                                            p Version 1.8
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-improve Improvement
                                              | Present concepts for feedback
                                            p
                                              span.log-new New
                                              |  Deliver and Launch
                                            p
                                              span.log-new New
                                              |  Client meeting
                                            p
                                              span.log-new New
                                              | Conduct research
                                            p
                                              span.log-new New
                                              | Create variations of concept
                                            p
                                              span.log-new New
                                              | Sketch out ideas
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 February 1, 2021 
                                            p Version 1.8.5
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-improve Improvement
                                              | Initial consult
                                            p
                                              span.log-new New
                                              | Design Inquiry
                                            p
                                              span.log-new New
                                              |  Initial Design Concept
                                            p
                                              span.log-update New
                                              | Second Design Concept
                                            p
                                              span.log-fixed New
                                              | Send out Design Concept
                                            p
                                              span.log-new New
                                              | Purchasing of Materials
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 April 14, 2021 
                                            p Version 1.8.10
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-improve Improvement
                                              | Online or in Person Registration
                                            p
                                              span.log-new New
                                              | Networking / Breakfast (Hall-B)
                                            p
                                              span.log-update New
                                              |  Event Orientation & Refresher
                                            p
                                              span.log-new New
                                              | Project Scoping Working Session
                                            p
                                              span.log-new New
                                              | Customer Testimonials
                                            p
                                              span.log-fixed New
                                              | Project Scoping
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 April 14, 2021 
                                            p Version 1.8.15
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-new Improvement
                                              | Ongoing Projects Review
                                            p
                                              span.log-improve New
                                              | Milestone checklist,Marketing Review and Expansing Meeting
                                            p
                                              span.log-new New
                                              |  Finalize ongoing school board projects
                                            p
                                              span.log-new New
                                              | Bidding spree
                                            p
                                              span.log-new New
                                              | Secure winter project
                                            p
                                              span.log-fixed New
                                              | Halloween Party !
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 April 14, 2022 
                                            p Version 1.8.17
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-newImprovement
                                              | Can I use just the Grid?
                                            p
                                              span.log-new New
                                              | Added WooCommerce functionality
                                            p
                                              span.log-new New
                                              |  Template Header
                                            p
                                              span.log-improve New
                                              | SEO Agency Prebuilt Website
                                            p
                                              span.log-new New
                                              | Why is Foundation free?
                                            p
                                              span.log-fixed New
                                              | Added Services, Cases pages
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip
                                      .row.change-log-content
                                        .col-lg-3.change-log-date
                                          .change-date
                                            h6 May 21, 2023 
                                            p Version 1.8.20
                                        .col-lg-2
                                          .log-version-info
                                            .log-version
                                            .log-line
                                        .col-lg-7
                                          .right-log-content
                                            p
                                              span.log-new Improvement
                                              | Ongoing office renovation,Walk through scheduled
                                            p
                                              span.log-new New
                                              | Schedule project
                                            p
                                              span.log-new New
                                              |  Residential Construction Conference
                                            p
                                              span.log-improve New
                                              | Christmas Party !
                                            p
                                              span.log-new New
                                              | Hosting:Community Fundraiser
                                            p
                                              span.log-fixed New
                                              | Project Bid Result
                                            .log-download-links
                                              a.log-btn(href='change_log.txt' download)
                                                i.fa.fa-cloud-download
                                                | Download
                                              a.log-btn(href='#')
                                                i.fa.fa-file-archive-o
                                                | Zip


                                    
        
    include ../../components/footer-files

                                     



                               
          



                
                        
                      


       
