- var tree_view             = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body.document.full-width-doc.sticky-nav-doc
        include ../../components/taptop
        // page-wrapper Start
        .page-wrapper.compact-wrapper
          include ../../components/document-header
            // Page Body Start
          .body-wrapper.sticky_menu
                  section#sticky-page.document-area
                    .overlay_bg
                    .container-fluid.custom-container
                      .row.doc-container
                        .left-sidebar
                          include ../../components/document-sidebar
                        .col-lg-9.content
                            .row
                              .col-sm-12
                                .card
                                  .card-header
                                    h5.main-title Credits
                                  .card-body
                                    .row
                                      .col-xl-3.col-md-4.col-sm-6
                                        ul.credits-list.mb-0
                                            li
                                              a(href='https://github.com/ajaxorg/ace') Ace editor 
                                              i(data-feather='link')
                                            li
                                              a(href='https://michalsnik.github.io/aos/') AOS 
                                              i(data-feather='link')
                                            li
                                              a(href='https://getbootstrap.com/') Bootstrap 
                                              i(data-feather='link')
                                            li
                                              a(href='http://arshaw.com/fullcalendar/') Calender 
                                              i(data-feather='link')
                                            li
                                              a(href='http://chartjs.org/') Chart.js 
                                              i(data-feather='link')
                                            li
                                              a(href='https://gionkunz.github.io/chartist-js/') Chartist 
                                              i(data-feather='link')
                                            li
                                              a(href='https://docs.ckeditor.com/ckeditor4/docs/#!/guide/dev_styles-section-style-rules') Ckeditor  
                                              i(data-feather='link')
                                            li
                                              a(href='https://zenorocha.github.io/clipboard.js') Clipboard 
                                              i(data-feather='link')
                                            li
                                              a(href='https://github.com/imakewebthings/waypoints/blob/master/') Counter 
                                              i(data-feather='link')
                                            li
                                              a(href='https://raw.github.com/Stuk/jszip/master/') Datatable extension  
                                              i(data-feather='link')
                                            li
                                              a(href='https://datatables.net/') Datatables   
                                              i(data-feather='link')
                                            li
                                              a(href='http://www.daterangepicker.com/') Date picker   
                                              i(data-feather='link')
                                      .col-xl-3.col-md-4.col-sm-6
                                        ul.credits-list.mb-0
                                          li
                                            a(href='https://tempusdominus.github.io/bootstrap-4/') Date Time Picker 
                                            i(data-feather='link')
                                          li
                                            a(href='http://www.daterangepicker.com/') Date range Picker   
                                            i(data-feather='link')
                                          li
                                            a(href='http://jqueryui.com/') Dragable 
                                            i(data-feather='link')
                                          li
                                            a(href='https://foundation.zurb.com/sites/docs/drilldown-menu.html') Drill down 
                                            i(data-feather='link')
                                          li
                                            a(href='http://www.dropzonejs.com/') Drop zone
                                            i(data-feather='link')
                                          li
                                            a(href='http://benalman.com/projects/jquery-resize-plugin/') Flot chart 
                                            i(data-feather='link')
                                          li
                                            a(href='http://github.com/requirejs/') Form builder 1 
                                            i(data-feather='link')
                                          li
                                            a(href='http://jsbeautifier.org/') Form builder 2 
                                            i(data-feather='link')
                                          li
                                            a(href='http://srobbin.com/jquery-plugins/backstretch/') Form wizard 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/fengyuanchen/cropper') Image cropper 
                                            i(data-feather='link')
                                          li
                                            a(href='http://js-grid.com/') Js grid 
                                            i(data-feather='link')
                                          li
                                            a(href='http://brandon.aaron.sh/') Light gallery 
                                            i(data-feather='link')
                                      .col-xl-3.col-md-4.col-sm-6
                                        ul.credits-list.mb-0
                                          li
                                            a(href='https://morrisjs.github.io/morris.js/') Morris chart  
                                            i(data-feather='link')
                                          li
                                            a(href='https://notifyjs.jpillora.com/') Notify  
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE') Owl carousel 
                                            i(data-feather='link')
                                          li
                                            a(href='https://ckeditor.com/legal/ckeditor-oss-license/') Page builder  
                                            i(data-feather='link')
                                          li
                                            a(href='https://opensource.org/licenses/MIT') Particles  
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/IonDen/ion.rangeSlider') Range slider 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/antennaio/jquery-bar-rating') Rating  
                                            i(data-feather='link')
                                          
                                          li
                                            a(href='https://modernizr.com/download/?setclasses') Scroll reveal 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/select2/select2/blob/master/LICENSE.md') Select 2 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/NextStepWebs/simplemde-markdown-editor') Simple mde 
                                            i(data-feather='link')
                                          li
                                            a(href='https://omnipotent.net/jquery.sparkline/') Sparkline 
                                            i(data-feather='link')
                                          li
                                            a(href='https://sweetalert.js.org/') Sweetalert 
                                            i(data-feather='link')
                                      .col-xl-3.col-md-4.col-sm-6
                                        ul.credits-list.mb-0
                                          li
                                            a(href='https://summernote.org/') Summer note 
                                            i(data-feather='link')
                                          li
                                            a(href='http://weareoutman.github.io/clockpicker/') time picker 
                                            i(data-feather='link')
                                          li
                                            a(href='https://www.virtuosoft.eu/code/bootstrap-touchspin/') Touch spin 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/usablica/intro.js') Tour 
                                            i(data-feather='link')
                                          li
                                            a(href='https://www.jstree.com/') Tree 
                                            i(data-feather='link')
                                          li
                                            a(href='https://github.com/twitter/typeahead.js') Typehead  
                                            i(data-feather='link')
                                          li
                                            a(href='https://wowjs.uk/') Wow 
                                            i(data-feather='link')
                                          li
                                            a(href='https://isotope.metafizzy.co/') Isotope  
                                            i(data-feather='link')
                                          li
                                            a(href='https://opensource.org/licenses/mit-license.php') jquery drill-down   
                                            i(data-feather='link')
                                          li
                                            a(href='https://jqueryui.com/') jqueryui  
                                            i(data-feather='link')
 
    include ../../components/footer-files

                                     



                               
          



                
                        
                      


       
